﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Index</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- jQuery 3 -->
    <script src="~/adminlte/components/jquery/dist/jquery.min.js"></script>
    <!--jqueryUI-->
    <script src="~/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/adminlte/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Select2 -->
    <script src="~/adminlte/components/select2/dist/js/select2.full.min.js"></script>
    <!-- bootstrap datepicker -->
    <script src="~/adminlte/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- PACE -->
    <script src="~/adminlte/components/PACE/pace.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/adminlte/components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->

    <script src="~/adminlte/components/fastclick/lib/fastclick.js"></script>
    <!-- DataTables -->
    <script src="~/adminlte/components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <!-- Toastr -->
    <script src="~/lib/toastr/toastr.min.js"></script>
    <!-- Sweetalert -->
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <!-- Site -->
    <script src="~/js/site.min.js"></script>
    <!-- Serialize JSON -->
    <script src="~/lib/marioizquierdo-jquery.serializeJSON/jquery.serializejson.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminlte/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/adminlte/dist/js/demo.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/adminlte/components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/adminlte/components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/adminlte/components/Ionicons/css/ionicons.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/adminlte/components/select2/dist/css/select2.min.css">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="~/adminlte/components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminlte/dist/css/adminlte.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/adminlte/dist/css/skins/_all-skins.min.css">
    <!-- Pace style -->
    <link rel="stylesheet" href="~/adminlte/plugins/pace/pace.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    <!-- Sweetalert -->
    <link rel="stylesheet" href="~/lib/sweetalert/sweetalert.css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">




</head>
<body class="hold-transition skin-blue fixed sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="/Home/Index" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>ET </b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>EasyTrack</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/images/empty_profile.png" class="user-image profilePicture" alt="User Image">
                                <span class="hidden-xs">super@admin.com</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="/images/empty_profile.png" class="img-circle profilePicture" alt="User Image">
                                    <p>
                                        super@admin.com
                                    </p>
                                </li>

                                <!-- Menu Footer-->

                                <li class="user-footer">

                                    <div class="pull-left">
                                        <a href="/Manage/ChangePassword" class="btn btn-default btn-flat">Change Password</a>
                                    </div>
                                    <form method="post" id="logoutForm" action="/Account/Logout">
                                        <div class="pull-right">
                                            <button type="submit" class="btn btn-default btn-flat">Sign out</button>
                                        </div>
                                        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8Bm0SFu-xtVGt69ZqkC1HivJNUA1qbRnUpOQz8Me9toeLsatTSKTjxtn5eymO27oqX1fZvMhi2tKjWgbyFBH9uBmRT-_t83aGQXXP30WP_9zk9N-rMA2nEODe1BbSXA1aQg2yv-sVLsV8T5JjWAZc9JVapKPP1Vl2PwVvGhQ4_4vvTjQF0Xxg9fFelNGIcST2g" />
                                    </form>

                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="/images/empty_profile.png" class="img-circle profilePicture" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>super@admin.com</p>
                    </div>
                </div>

                <ul class="sidebar-menu" data-widget="tree">


                    <li class="header">Dashboard</li>

                    <li class="">
                        <a href="/Home">
                            <i class="fa fa-bar-chart"></i> <span>Clients</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="/Branch">
                            <i class="fa fa-building-o"></i> <span>Drivers</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="/Warehouse">
                            <i class="fa fa-cubes"></i> <span>Vehicles</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="/Product">
                            <i class="fa fa-tags"></i> <span>Trip Details</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="/Stock">
                            <i class="fa fa-cube"></i> <span>Weekly Payment</span>
                        </a>
                    </li>

                    <li class="header">CONFIG</li>
                    <li class="">
                        <a href="/ApplicationUser">
                            <i class="fa fa-users"></i> <span>User Roles</span>
                        </a>
                    </li>

                </ul>



            </section>
            <!-- /.sidebar -->
        </aside>
    </div>
    <partial name="_CookieConsentPartial" />

    <div class="main-footer">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - EasyTrack LTD - Website developed by Decibel Software Ltd</p>
        </footer>
    </div>


</body>

</html>
