﻿@model List<EasyTrackWebsite.Models.FlightMode>


@{
    ViewBag.Title = "Home Page";
}


<div>
    <h4>Clients</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model=>)
            @Html.DisplayNameFor(model => Model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.Name)
        </dd>
 
    </dl>
</div> 